.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}

.ivory-nav {
  /* background-color: #FFFDF4; */
  width: 100%;
  display: flex;
  color: #212121;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.login {
  color: #212121;
  display: block;
}

.join {
  color: #212121;
  display: block;
}

.Phone-icon-image {
  width: 45px;
  display: block;
}