@font-face {
  font-family: "Huglife";
  src: url("./fonts/HughIsLifePersonalUseItalic-K7axe.ttf") format("truetype");
}

@font-face {
  font-family: "Gulimn";
  src: url("./fonts/DXGulimB-KSCpc-EUC-H.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic-Bold";
  src: url("./fonts/NanumGothic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic-Regular";
  src: url("./fonts/NanumGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NanumMyeongjo-Bold";
  src: url("./fonts/NanumMyeongjo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NanumMyeongjo-Regular";
  src: url("./fonts/NanumMyeongjo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BinggraeMelona";
  src: url("./fonts/BinggraeMelona.ttf") format("truetype");
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
#root {
  display: flex;
  flex-direction: column;
}
