@font-face {
  font-family: "Huglife";
  src: url('./fonts/HughIsLifePersonalUseItalic-K7axe.ttf') format('truetype');
}

@font-face {
  font-family: "Gulimn";
  src: url('./fonts/DXGulimB-KSCpc-EUC-H.ttf') format('truetype');
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
#root {
  display: flex;
  flex-direction: column;
}