#bg-modal {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  font-family: "BinggraeMelona";
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  #bg-modal {
    flex-wrap: row wrap;
    position: absolute;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-device-width: 450px) {
  #bg-modal {
    flex-wrap: row wrap;
    position: absolute;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
