#property-modal {
  width: 100%;
  height: 10vh;
  background-color: rgb(207, 207, 207);
}

#property-title-button {
  display: flex;
  justify-content: space-between;
}

#control-box {
  display: flex;
  justify-content: space-around;
}

#control-width,
#control-height,
#control-rotate {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

#control-zindex {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  text-align: center;
}

#zindex-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  display: flex;
}

.input-area {
  width: 40%;
  text-align: center;
}

.button-area {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  #control-zindex {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
}
