#message-modal {
  font-size: 20px;
  position: absolute;
  z-index: 1100;
  top: 30%;
  left: 30%;
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: #e4e0d6;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
}

#close-message-modal {
  font-size: 15px;
  border-radius: 0.6rem;
  width: 70px;
  height: 25px;
  transition: 0.3s;
  cursor: pointer;
}
#close-message-modal:hover {
  background-color: salmon;
  color: black;
}
#close-message-modal:not(:hover) {
  background-color: black;
  color: white;
}

@media screen and (max-width: 900px) {
  #message-modal {
    top: 30%;
    left: 20%;
  }
}

@media screen and (max-device-width: 900px) {
  #message-modal {
    top: 30%;
    left: 20%;
    width: 600px;
    height: 300px;
    font-size: 40px;
  }
  #close-message-modal {
    font-size: 30px;
    width: 140px;
    height: 50px;
  }
}
