#property-modal {
  width: 100%;
  height: 10vh;
  background-color: #fefcff;
  border-top: 0.5px solid lightgray;
  font-family: "BinggraeMelona";
  display: flex;
  flex-direction: column;
}

#property-title-button {
  margin-top: 1vh;
  padding: 0rem 2vw;
  display: flex;
  justify-content: space-between;
}

#control-box {
  display: flex;
  justify-content: space-around;
}

#control-width,
#control-height,
#control-rotate,
#control-style,
#control-color,
#control-size {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

#control-zindex {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

#zindex-buttons {
  display: flex;
  justify-content: center;
}

.input-area {
  width: 30%;
  text-align: center;
}

.object-button-area {
  display: flex;
  width: 100%;
  justify-content: center;
}

.control-button {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  border-color: white;
  font-size: 1.8vh;
}

#selectList {
  width: 15vh;
}

#delete-button {
  background-color: white;
  color: red;
  border-color: lightgray;
  border-radius: 0.3rem;
  padding: 0.2vh 1.5vh;
  font-family: "BinggraeMelona";
}
@media screen and (max-width: 900px) {
  #control-zindex {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
}

@media screen and (max-device-width: 450px) {
  #control-zindex {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }

  #property-modal {
    width: 100%;
    height: 10vh;
    background-color: #fefcff;
    border-top: 2px solid lightgray;
    font-family: "BinggraeMelona";
    display: flex;
    flex-direction: column;
  }

  #property-title-button {
    margin-top: 0.5vh;
    font-size: 2.5rem;
    padding: 0.5vh 3vw;
    display: flex;
    justify-content: space-between;
  }

  #delete-button {
    font-size: 2rem;
    padding: 0.5vw 2vw;
  }

  #control-width,
  #control-height,
  #control-rotate,
  #control-color,
  #control-size,
  #control-style {
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }

  .object-button-area {
    display: flex;
    height: 2vh;
    justify-content: center;
  }

  .button {
    font-size: 2rem;
    width: 4vw;
  }

  .input-area {
    font-size: 1.8rem;
    width: 40%;
    text-align: center;
  }

  #control-zindex {
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 2vh;
    text-align: center;
  }
  #selectList {
    width: 100%;
  }
}
