#text-modal {
  /* width: 20rem;
  height: 100%;
  border: 1px solid black; */
  width: 99%;
}
#text-modal-nav {
  /* position: relative; */
}
#text-modal-nav > div {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
#text-modal-nav > div:first-child {
  font-size: 2rem;
}
#text-modal-upload {
}
.text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-input > input {
  width: 90%;
  height: 1.5rem;
  border-radius: 0.5rem;
}
.text-input > button {
  margin: 0.5rem 0;
  width: 50%;
  height: 1.5rem;
  line-height: 1.2rem;
}
.text-setting:first-child {
  height: 5rem;
}
.text-setting:not(:first-child) {
  height: 8rem;
  margin: 0 1rem;
}
.text-setting > div:first-child {
  font-size: 1.5rem;
}
.text-setting > div:not(:first-child) {
  background-color: white;
  height: 2rem;
  /* margin: 1rem; */
}
@media screen and (max-width: 900px) {
  #text-modal-upload {
    height: 15rem;
    width: 100%;
    display: inline-block;
    overflow: auto;
  }
  .text-setting:first-child {
    height: 5rem;
  }
  .text-setting:not(:first-child) {
    height: 4rem;
  }
  .text-setting > div:first-child {
    font-size: 1.2rem;
  }
  .text-setting > div:not(:first-child) {
    background-color: white;
    height: 2rem;
    margin-top: 0.1rem;
  }
}
/* @media screen and (min-width: 900px) {
  #text-modal {
    background-color: ivory;
    position: absolute;
    left: 5.7rem;
    top: 8.2rem;
    width: 25rem;
    height: 44rem;
    border: solid 0.1rem gray;
  }
  #text-modal-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
  #text-close-button {
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }

  #text-modal-propertys {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .property {
    display: flex;
    align-items: center;
    border-bottom: solid 0.1rem white;
    height: 4rem;
  }

  .title {
    display: flex;
    justify-content: center;
    width: 5rem;
  }

  .value {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    width: 19rem;
  }

  #text-apply-button {
    align-self: flex-end;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }
}
@media screen and (max-width: 900px) {
  #text-modal {
    border: solid 1px red;
    background-color: ivory;
    height: 20rem;
  }
  #text-modal-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
  #text-close-button {
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
  }

  #text-modal-propertys {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 1.5rem;
  }

  .property {
    display: flex;
    align-items: center;
    border-bottom: solid 0.1rem gray;
    height: 4rem;
  }

  .title {
    display: flex;
    justify-content: center;
    width: 5rem;
  }

  .value {
    display: flex;
    justify-content: center;
    width: 19rem;
  }

  #text-apply-button {
    align-self: flex-end;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }
} */
