#EditPage {
  flex: 1 1 0;
  display: flex;
}
#canvas {
  flex: 1 1 0;
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#edit-menu {
  background-color: #fefcff;
  display: flex;
}

#canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: auto;
  justify-content: center;
}

#title {
  font-size: 2rem;
  margin: 1rem 0rem;
}

#content {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#canvas-paper {
  width: 455px;
  height: 325px;
  transform: scale(2);
  transition: 0.5s;
  border: 1px solid black;
  position: relative;
}

@media screen and (max-width: 900px) {
  #EditPage {
    flex-direction: column-reverse;
  }
  #edit-menu {
    flex-direction: column-reverse;
  }
  #canvas-paper {
    transform: scale(1);
    width: 455px;
    height: 325px;
    transition: 0.5s;
  }
  #title {
    font-size: 1.8rem;
    margin: 0.5rem 0rem;
  }
  #content {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-device-width: 450px) {
  #EditPage {
    height: 95.5vh;
    display: flex;
  }

  #canvas-paper {
    width: 84vw;
    height: 60vw;
    position: relative;
  }

  #EditPage {
    flex-direction: column-reverse;
  }
  #edit-menu {
    flex-direction: column-reverse;
  }
  #title {
    font-size: 4.5rem;
    margin: 1.5rem 0rem;
  }
  #content {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
