#footer {
  font-family: 'Gulimn';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  background-color: #f3f5f7;
  border-top: 1px solid black;
}
#footer > div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  display: flex;
  width: 90%;
}
#footer-title > a {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  color: black;
  font-weight: 700;
}
#footer-title > a:hover {
  text-shadow: 1px 1px 1px rgb(83, 83, 83);
}
#footer-title img {
  height: 1.5rem;
  margin: 0.5rem 0.5rem;
}

.footer-row span {
  cursor: pointer;
}
.footer-row > a {
  color: black;
}
.footer-row > a:hover {
  text-shadow: 1px 1px 1px rgb(83, 83, 83);
}
.footer-contact {
  display: flex;
  position: absolute;
  right: 1rem;
  margin: 0.8rem 0;
}
.footer-contact > div:first-child {
  display: flex;
  margin-right: 1rem;
  padding-right: 0.3rem;
}
#githubIcon {
  width: 1.5rem;
  vertical-align: middle;
}
#githubTitle {
  margin-top: 0.2rem;
  vertical-align: middle;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .footer-developer {
    display: flex;
  }
  .footer-row {
    margin-top: 0.2rem;
  }
  .footer-row span {
    margin: 0 1rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .footer-contact {
    margin: 0.3rem 0;
  }
  .footer-contact > div:first-child {
    margin: 0.5rem;
  }
  #footer-title span {
    display: none;
  }
  .footer-developer {
  }
  .footer-row span {
    margin: 0 0.5rem;
    font-size: 0.8rem;
  }
}
