@media screen and (min-width: 900px) {
  #image-modal {
    background-color: grey;
    position: absolute;
    left: 5.7rem;
    top: 10.2rem;
    width: 25rem;
    height: 44rem;
  }
  #image-modal-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
  #image-description {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #image-close-button {
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }

  #image-modal-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .image-row {
    display: flex;
    justify-content: space-around;
    width: 95%;
  }

  #image-modal-add-button {
    width: 15rem;
  }
}

@media screen and (max-width: 900px) {
  #image-modal {
    background-color: white;
    position: absolute;
    top: 38rem;
    left: 15rem;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 21rem;
  }
  #image-modal-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
  #image-description {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #image-close-button {
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
  }

  #image-modal-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .image-row {
    display: flex;
    justify-content: space-around;
    width: 95%;
  }

  #image-modal-add-button {
    width: 15rem;
  }
}
