.landing-container {
  font-family: "Gulimn";
  width: 100%;
  height: 100%;
}

.video-box {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#landing-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: fill;
  z-index: 0;
}

.landing-title-box {
  width: 55rem;
  position: absolute;
  top: 40vh;
  left: 5vw;
  text-align: left;
  font-family: "NanumGothic-Regular";
  font-size: 45px;
  color: #f9ffff;
  z-index: 2;
  text-shadow: 1px 2px #212121;
  transition: 0.7s ease;
  font-weight: 700;
}

.landing-title-box div {
  margin-bottom: 0.6rem;
}

.landing-title-box > a {
  text-decoration: none;
}

.main-get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 78px;
  font-size: 35px;
  background: transparent;
  color: white;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.1rem;
  transition: 0.7s ease;
}

.main-get-started:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 1px 1px #c5c5c5;
}

@media screen and (max-device-width: 450px) {
  .main-get-started {
    width: 350px;
    height: 80px;
  }

  .landing-title-box div {
    margin-bottom: 1rem;
    font-size: 50px;
  }

  .landing-title-box div:not(:first-child) {
    font-size: 50px;
  }
}

@media all and (max-width: 900px) {
  .landing-title-box {
    width: 95vw;
    position: absolute;
    top: 42vh;
    left: 5vw;
    text-align: left;
    font-size: 25px;
    color: #f9ffff;
    display: block;
    text-shadow: 1px 1px #212121;
  }

  .main-get-started {
    font-size: 25px;
    width: 175px;
    height: 40px;
  }
}
