.body {
  padding: 0rem;
  margin: 0rem;
}

.login {
  color: #212121;
  display: block;
}

.join {
  color: #212121;
  display: block;
}

.landing {
  width: 100%;
  height: auto;
  display: flex;
  resize: both;
  /* border: 3px solid hotpink; */
  object-fit: fill;
}

.video-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

#landing-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.landing-title {
  position: absolute;
  top: 38%;
  font-family: "굴림체";
  width: 100%;
  font-size: 3.5rem;
  font-weight: 500 !important;
  margin-left: 4rem;
  color: #eef0f6;
}

.main-get-started {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 8%;
}

.main-get-started-btn {
  background-color: transparent;
  border-radius: 1em;
  width: 50em;
  height: 2.5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: -1em;
  margin-left: -3.6em;
  cursor: pointer;
  border: 1px solid #eef0f6;
  color: #eef0f6;
  font-weight: bold;
}

.start {
  text-decoration: none;
  color: #eef0f6;
}

.content1 {
  top: 10rem;
  left: 10rem;
}

.section1 {
  width: 100%;
  height: auto;
  padding: 15rem 3rem;
  /* border: 3px solid hotpink; */
  object-fit: fill;
  display: block;
}

.section2 {
  width: 100%;
  height: auto;
  padding: 15rem 3rem;
  background-color: #f3f5f7;
  object-fit: fill;
  display: block;
}

.section3 {
  width: 100%;
  height: auto;
  padding: 15rem 3rem;
  display: block;
}

.section4 {
  width: 100%;
  height: auto;
  background-color: #f3f5f7;
  padding: 15rem 3rem;
}

.title {
  font-size: 2rem;
  display: inline;
}

.subtitle5 {
  border-bottom: solid black;
}

.content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.get-started-btn {
  background-color: #a0a0a0;
  border-radius: 5px;
  color: white;
  width: 140px;
  height: 32px;
  top: 539px;
  left: 131px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

.see-more-btn {
  background-color: #a0a0a0;
  border-radius: 5px;
  color: white;
  width: 140px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

@media all and (max-width: 1440px) {
  /* PC */
  .LandingPage {
    padding-right: 15%;
    padding-left: 15%;
    /* display: none; */
  }

  .Nav {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media all and (max-width: 900px) {
  /* Phone */

  
}
