.ladning-body {
  font-family: "Gulimn";
  width: 100%;
  height: 100%;
}

.login {
  color: #212121;
  display: block;
}

.join {
  color: #212121;
  display: block;
}

.landing {
  width: 100%;
  height: auto;
  display: flex;
  resize: both;
  object-fit: fill;
}

.video-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#landing-video {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-container {
  display: inline-block;
  position: relative;
  justify-content: left;
  align-items: left;
}

.landing-title {
  text-align: right;
  font-family: "Gulimn";
  font-size: 50px;
  font-weight: 500 !important;
  color: #f9ffff;
  /* border: 3px solid violet; */
  display: block;
  width: 55rem;
  position: absolute;
  justify-content: left;
  align-items: left;
  margin-top: -42rem;
  padding-left: 2rem;
}

.main-get-started {
  font-family: "Gulimn";
  padding: 1rem 8rem;
  font-size: 1.2rem;
  background: transparent;
  border: 1px solid rgb(194, 194, 194);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  width: 10.5rem;
  text-align: center;
  animation: animate 0.8s infinite alternate;
}

.main-get-started:hover {
  background: whitesmoke;
  border: 1px solid whitesmoke;
  color: rgb(92, 92, 92);
}

.start {
  text-decoration: none;
  color: #eef0f6;
  display: inline-block;
}

.section1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.section2 {
  width: 100%;
  height: 100%;
  background-color: #f3f5f7;
  display: flex;
  align-items: center;
  position: relative;
}

.section3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.section4 {
  width: 100%;
  height: 100%;
  background-color: #f3f5f7;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  font-size: 2rem;
  display: inline;
}

.subtitle5 {
  border-bottom: solid black;
}

.content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.get-started-btn {
  background-color: #a0a0a0;
  border-radius: 5px;
  color: white;
  width: 140px;
  height: 32px;
  top: 539px;
  left: 131px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

.see-more-btn {
  background-color: #a0a0a0;
  border-radius: 5px;
  color: white;
  width: 140px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

.landing-footer {
  position: relative;
}

@media all and (min-width: 1440px) and (max-width: 7680px) { /* PC */
  .phone-landing {
    display: none;
  }
  .phone-start {
    color: #eef0f6;
    text-decoration-line: none;
  }
  .landing-title {
    padding-bottom: 2%;
  }
  .main-get-started {
    margin-top: 2%;
    margin-left: 52%;
  }
}

@media all and (min-width: 900px) and (max-width: 1440px) {  /* PC */
  .landing-title {
    margin-left: -15rem;
    margin-top: -27rem;
    font-size: 32px;
    text-align: right;
  }

  .main-get-started {
    border: 2px solid #eef0f6;
    border-radius: 5px;
    width: 110px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 9px;
    margin-left: 5%;
  }

  .phone-start {
    text-decoration: none;
    text-decoration-line: none;
    color: #eef0f6;
    display: inline-block;
  }

  .phone-landing {
    display: none;
  }
}

@media all and (max-width: 900px) { /* Phone */
  .landing-title {
    font-size: 28px;
    margin-top: 25px;
    margin-left: 30px;
  }

  .main-get-started {
    font-size: 22px;
    font-weight: 700;
    width: 400px;
  }

  .landing {
    display: none;
    width: 100%;
  }

  .phone-landing {
    display: flex;
    font-family: "Huglife";
    background-color: #f3f5f7;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .phone-landing-logo {
    width: 30rem;
    height: 30rem;
  }

  .first-box {
    height: 40%;
    display: flex;
  }

  .f-left {
    width: 48%;
    height: 100%;
    font-size: 200px;
  }

  .f-right {
    width: 100%;
    position: relative;
  }

  .sec-top {
    position: absolute;
    width: 100%;
    height: 28%;
    font-size: 60px;
    top: 20px;
    left: 40px;
  }

  .sec-bot {
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 150px;
    top: 50px;
    left: -10px;
  }

  .second-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }

  .second-box > div {
    width: 100%;
    height: 100%;
  }

  .second-box-top {
    color: black;
    width: 100%;
    height: 50%;
    font-size: 60px;
  }

  .second-box-bottom {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .second-box-bottom > a {
    text-decoration-line: none;
    text-decoration: none;
    color: black;
    font-family: "Gulimn";

  }

  .second-box-bottom div {
    font-family: "Huglife";
    margin-top: 50px;
    padding: 1rem 9rem;
    font-size: 2.6rem;
    background: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
    width: 10.5rem;
    text-align: center;
    animation: animate 0.8s infinite alternate;
    border: 2px solid black;
  }

  .second-box-bottom div:hover {
    background-color: gray;
    box-shadow: 4px 4px gray;
    color: white;
  }
}