#mypage {
  font-family: "BinggraeMelona";
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  align-items: center;
  background-color: #fefcff;
}

/* 클때 */
@media screen and (min-width: 900px) {
}
/* 작을 때 */
@media screen and (max-width: 900px) {
}
