.nav-container {
  width: 100%;
  background-color: #f3f5f7;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.title a {
  margin-left: 0.5rem;
  margin-top: 0.5%;
  height: 3rem;
  font-family: "Huglife";
  text-decoration: none;
  text-decoration-line: none;
  cursor: pointer;
  color: black;
}

.logo {
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 3rem;
  display: inline-block;
}

.nav-box {
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.nav-box a {
  color: black;
  text-decoration: none;
}

#login {
  /* font-family: "Huglife"; */
}

#join {
  margin-top: 0.1rem;
  /* font-family: "Huglife"; */
}

.nav-right > div {
  margin-right: 1.2rem;
  cursor: pointer;
  color: #212121 !important;
  font-family: "Huglife";
  font-size: 2.21rem;
}

@media screen and (max-width: 900px) {
  .nav-container {
    display: flex;
    width: 100%;
    height: 4.5vh;
    background-color: F9FFFF;
    border-bottom: black;
  }

  .title {
    display: flex;
  }

  .logo {
    font-size: 3.6vh;
  }

  .nav-right {
    right: 0.5rem;
    top: 0.5rem;
  }
  .nav-right > div {
    font-size: 1.5rem;
  }
}
