@media screen and (min-width: 900px) {
  #text-modal {
    background-color: #e2e2e1;
    position: absolute;
    left: 5.7rem;
    top: 8.2rem;
    width: 25rem;
    height: 44rem;
    border: solid 0.1rem gray;
  }
  #text-modal-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
  #text-close-button {
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }

  #text-modal-propertys {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .property {
    display: flex;
    align-items: center;
    border-bottom: solid 0.1rem white;
    /* border: solid 1px blue; */
    height: 4rem;
  }

  .title {
    display: flex;
    justify-content: center;
    width: 5rem;
    /* border: solid 1px red; */
  }

  .value {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    width: 19rem;
    /* border: solid 1px red; */
  }

  #text-apply-button {
    align-self: flex-end;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }
}
@media screen and (max-width: 900px) {
  #text-modal {
    background-color: #f5f5f5;
    position: absolute;
    top: 37.5rem;
    left: 15rem;
    transform: translate(-50%, -50%);
    width: 87%;
    height: 19.5rem;
  }
  #text-modal-nav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
  #text-close-button {
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
  }

  #text-modal-propertys {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 1.5rem;
  }

  .property {
    display: flex;
    align-items: center;
    border-bottom: solid 0.1rem gray;
    /* border: solid 1px blue; */
    height: 4rem;
  }

  .title {
    display: flex;
    justify-content: center;
    width: 5rem;
    /* border: solid 1px red; */
  }

  .value {
    display: flex;
    justify-content: center;
    width: 19rem;
    /* border: solid 1px red; */
  }

  #text-apply-button {
    align-self: flex-end;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    width: 4rem;
    height: 2rem;
  }
}
