#top-menu {
  background-color: #fefcff;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  font-family: "BinggraeMelona";
}
.top-menu-left {
  display: flex;
}
.top-menu-left > div {
  margin: 0 1rem;
  cursor: pointer;
}
.top-menu-right {
  display: flex;
  position: absolute;
  right: 1rem;
}
.top-menu-right > div {
  margin-left: 1rem;
}

#top-menu-save {
  font-size: 15px;
  width: 20vh;
  display: flex;
  justify-content: space-around;
}
#download:hover,
#save:hover {
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s;
}

@media screen and (max-device-width: 450px) {
  #top-menu {
    background-color: #fefcff;
    width: 100%;
    height: 3vh;
    line-height: 2rem;
    border-bottom: 2px solid lightgray;
    display: flex;
    font-family: "BinggraeMelona";
    align-items: center;
  }
  #top-menu-save {
    font-size: 2rem;
  }
  #top-menu-save {
    width: 15vh;
    display: flex;
    justify-content: space-around;
  }
}
