#cards {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 38vh;
  border-bottom: 2px solid lightgray;
}

.card-box-container {
  display: flex;
  align-items: center;
  height: 28vh;
}
.card-box {
  width: 60vw;
  height: 25vh;
  display: flex;
  overflow-y: scroll;
  border: 1px solid red;
}
.card-page-container {
  width: 20vw;
  height: 25vh;
  margin: 3rem 0;
  border: 1px solid red;
}
.card-page-box {
  width: 20vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-page-box img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.cardImg {
  border: solid rosybrown 5px;
  width: 240px;
  height: 240px;
  object-fit: fill;
}

.deleteCard {
  border: solid rosybrown 5px;
  background-color: rosybrown;
  padding: 0 0 2px 0;
  border-radius: 40%;
  width: 20px;
  height: 20px;
  float: right;
  text-align: center;
}

/* 클때 */
@media screen and (min-width: 900px) {
}
/* 작을 때 */
@media screen and (max-width: 900px) {
  #cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 27rem;
    padding: 0.5rem 0;
    border-bottom: solid 0.1rem gray;
  }
  .card-box {
    display: flex;
    height: 20rem;
    width: 100%;
    margin: 1.5rem 0;
    overflow-x: auto;
  }
}
