#cards {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 38vh;
  border-bottom: 2px solid lightgray;
}

.card-box-container {
  display: flex;
  align-items: center;
  height: 28vh;
}

.card-box {
  width: 60vw;
  height: 25vh;
  display: flex;
  align-items: center;
  overflow: auto;
}

.card-page-container {
  width: 20vw;
  height: 25vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 22vh;
}

#delete-box {
  display: flex;
  justify-content: space-around;
}

.card-page-box {
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#move-to-editpage {
  border: solid black 1px;
  margin: 10px;
  width: 210px;
  height: 150px;
}

.card-page-box img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cardImg {
  border: solid black 1px;
  margin: 10px;
  width: 210px;
  height: 150px;
}

.deleteCard {
  border: solid rosybrown 5px;
  background-color: rosybrown;
  padding: 0 0 2px 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  float: right;
  text-align: center;
}

/* 작을 때 */
@media screen and (max-width: 900px) {
  #cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 38vh;
    border-bottom: 2px solid lightgray;
  }
}
