#profile {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 22rem;
  border-bottom: 2px solid lightgray;
}
#profile > div {
  margin-top: 1rem;
  position: relative;
  height: 20rem;
}
.mypage-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

#profile-content {
  display: flex;
  padding-left: 2rem;
  height: 15rem;
}
.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile-image-box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
#img-add-button {
  width: 100px;
  height: 33px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
}

#img-add-button:hover {
  background-color: rgb(253, 178, 169);
  transition: 0.5s;
}

#img-add-button:not(:hover) {
  background-color: #f5f5f5;
}

.userinfo {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-left: 2rem;
  height: 13rem;
}

.userinfo input {
  font-size: 1.5rem;
  width: 12rem;
  height: 1.5rem;
  border: 1px solid rgb(234, 236, 239);
  border-radius: 12px;
  padding-left: 1rem;
}

.button-box {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage-button {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-save,
#btn-cancel,
#btn-edit {
  width: 70px;
  height: 35px;
  font-size: 18px;
  border-radius: 0.5rem;
  font-family: 'BinggraeMelona';
  cursor: pointer;
  border: 2px solid #f2f0ec;
  background-color: black;
  color: white;
  margin-left: 1rem;
}

#btn-save:hover,
#btn-cancel:hover,
#btn-edit:hover {
  background-color: rgb(253, 178, 169);
  transition: 0.5s;
  color: black;
}
#btn-save:not(:hover),
#btn-cancel:not(:hover),
#btn-edit:not(:hover) {
  background-color: black;
}

/*! 900px */

@media screen and (max-width: 900px) {
  #profile {
    height: 17rem;
    width: 90vw;
    padding-bottom: 1rem;
  }
  .mypage-title {
    font-size: 1.3rem;
  }
  #profile-content {
    /* padding: 0; */
  }
  .profile-image {
    display: unset;
    align-items: unset;
    justify-content: unset;
  }
  .profile-image-box {
    margin-top: 2rem;
    align-items: unset;
    justify-content: unset;
    position: relative;
  }
  .profile-image-box img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  #profile-content {
    height: 10rem;
  }
  .userinfo {
    font-size: 3vw;
    height: 10rem;
  }

  .userinfo input {
    font-size: 3vw;
    width: 25vw;
    height: 1.3rem;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 12px;
    padding-left: 1rem;
  }

  .mypage-button {
    /* width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center; */
  }
  #img-add-button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
  }
  #btn-save,
  #btn-cancel,
  #btn-edit {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
  }
}
/*! phone */
@media screen and (max-device-width: 450px) {
  #profile {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 30rem;
    border-bottom: 2px solid lightgray;
  }
  #profile > div {
    margin-top: 3rem;
    position: relative;
    height: 25rem;
  }
  .mypage-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  #profile-content {
    display: flex;
    height: 15rem;
    padding: 0;
  }
  .profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .profile-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .profile-image-box img {
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    cursor: pointer;
  }
  #img-add-button {
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
  }

  .userinfo {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2.2rem;
    margin-left: 2rem;
    height: 17rem;
  }

  .userinfo input {
    font-size: 2.2rem;
    width: 15rem;
    height: 2.5rem;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 12px;
    padding-left: 1rem;
  }
  #btn-save,
  #btn-cancel,
  #btn-edit {
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}
