#profile {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 13rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.1rem gray;
}
.mypage-title {
  font-size: 1.2rem;
}

#profile-content {
  display: flex;
  height: 10rem;
  padding-left: 3rem;
  justify-content: space-around;
}
.profile-image {
  border: 1px solid gray;
  width: 7rem;
  height: 7rem;
  margin-top: 1.5rem;
  text-align: center;
}
.profile-image img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  cursor: pointer;
}
.profile-image button {
  margin-top: 0.5rem;
}

.userinfo {
  padding: 0.5rem 0rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
  /* border: solid 1px red; */
}

.mypage-button {
  position: relative;
  display: flex;
}
.mypage-button > button {
  position: absolute;
  bottom: -1rem;
  right: 0;
  text-align: center;
  cursor: pointer;
}
#btn-save {
  right: 4.5rem;
  width: 3rem;
}
#btn-cancel {
  width: 4rem;
}
