#save-modal {
  font-size: 20px;
  position: absolute;
  z-index: 1000;
  top: 25vh;
  left: 15vw;
  width: 300px;
  height: 150px;
  text-align: center;
  transition: 1s;
  background-color: #e4e0d6;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}

#close-save-modal {
  font-size: 15px;
  border-radius: 0.6rem;
  width: 70px;
  height: 25px;
  transition: 0.3s;
  cursor: pointer;
}
#close-save-modal:hover {
  background-color: salmon;
  color: black;
}
#close-save-modal:not(:hover) {
  background-color: black;
  color: white;
}
