#top-menu {
  background-color: #fefcff;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  font-family: "BinggraeMelona";
}

.top-menu-left {
  display: flex;
}

.top-menu-left > div {
  justify-content: left;
  cursor: pointer;
  margin-left: 3vw;
  text-align: center;
}

.top-menu-right {
  display: flex;
  position: absolute;
  right: 1rem;
  font-size: 15px;
}

.top-menu-right > div {
  margin-left: 1rem;
}

#top-menu-save {
  font-size: 20px;
  width: 14rem;
  display: flex;
  justify-content: space-around;
}

.top-menu-left > div:hover {
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s;
}
#download:hover,
#save:hover {
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s;
}

#delete-all-object {
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  #top-menu-save {
    font-size: 18px;
    width: 30vw;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-device-width: 450px) {
  #top-menu {
    background-color: #fefcff;
    width: 100%;
    height: 3vh;
    line-height: 2rem;
    border-bottom: 2px solid lightgray;
    display: flex;
    font-family: "BinggraeMelona";
    align-items: center;
  }
  .top-menu-left {
    font-size: 35px;
  }
  #delete-all-object {
    font-size: 35px;
  }
  #top-menu-save {
    font-size: 35px;
    width: 15vh;
    display: flex;
    justify-content: space-around;
  }
  .top-menu-left > div:hover,
  #download:hover,
  #save:hover {
    font-size: 35px;
  }
}
