#menuBar-container {
}
.menubar-btn {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  cursor: pointer;
}
.menubar-btn img {
  width: 2rem;
  height: 2rem;
  margin: auto;
  cursor: pointer;
}
.menubar-btn:hover {
  background-color: #e4e0d6;
}
#menuBar-image {
  width: 2.7rem;
  height: 2.7rem;
}
#menuBar-template {
  width: 2.4rem;
  height: 2.4rem;
}
@media screen and (max-width: 900px) {
  #menuBar-container {
    display: flex;
    width: 100%;
    height: 3.5rem;
    justify-content: space-around;
  }
  .menubar-btn {
    width: 3.5rem;
    height: 3.5rem;
  }
}
