@media screen and (min-width: 900px) {
  #property-modal {
    border: solid 1px red;
    background: ivory;
    height: 10rem;
  }

  #property-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7.5rem;
    border: solid 1px skyblue;
  }

  .control-box {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  #property-modal {
    border: solid 1px red;
    background: ivory;
    height: 20rem;
  }

  #property-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 17.4rem;
    border: solid 1px skyblue;
  }

  .control-box {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
  }
}
